.advantages {
  padding-top: 150px;
  padding-bottom: 130px;

  @include lg-down {
    padding-top: 40px;
    padding-bottom: 70px;
  }
}

.advantages__title {
  margin-bottom: 50px;
  text-align: center;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 38px;

  @include lg-down {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    max-width: 555px;
    margin-right: auto;
    margin-left: auto;
  }
}

.advantages__item {
  text-align: center;
}

.advantages__number {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: -1.27273px;
  color: $color-accent-primary;
}
