.contact {
  padding-top: 151px;
  margin-bottom: 39px;
  text-align: center;
}

.contact__title {
  margin-bottom: 30px;
}

.contact__description {
  max-width: 555px;
  margin-left: auto;
  font-weight: 400;
  font-size: 17px;
  line-height: 31px;
  color: rgba($color-secondary, 0.7);
  margin-right: auto;
}
