.contact {
  padding-top: 151px;
  margin-bottom: 31px;
  text-align: center;

  @include lg-down {
    padding-top: 51px;
    max-width: 698px;
    margin-bottom: 15px;
  }

  @include md-down {
    margin-bottom: 25px;
    padding-top: 21px;
  }

  h2 {
    margin-bottom: 30px;
    margin-left: -10px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.005em;
    color: $color-primary;

    @include lg-down {
      margin-bottom: 15px;
      margin-left: 0;
      font-size: 24px;
      line-height: 41px;
    }

    @include md-down {
      font-size: 18px;
    }
  }

  p {
    max-width: 555px;
    padding-right: 15px;
    margin-left: auto;
    margin-bottom: 41px;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: rgba($color-secondary, 0.7);
    margin-right: auto;

    @include lg-down {
      max-width: initial;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
}

.contact__map {
  @include md-down {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.contact__map-item {
  @include lg-down {
    max-width: 698px;
    height: 545px;
  }

  @include md-down {
    max-width: initial;
    width: 100%;
    height: 250px;
  }
}
