.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;

  @include lg-down {
    display: flex;
    justify-content: flex-end;

    &--nojs {
      flex-direction: column;
    }
  }
}

.header__nav {
  @include lg-down {
    .header__menu {
      max-width: initial;
      justify-content: flex-start;
      flex-direction: column;
      border-bottom: none;
      background-color: $color-tertiary;
    }

    &--open {
      position: fixed;
      top: 0;
      width: 100vw;
      overflow: hidden;

      .header__menu {
        height: 100vh;
        padding: 100px 0 0;
      }
    }

    &--close {
      display: none;
    }

    &--nojs {
      position: relative;
      display: block;
      border-bottom: none;
      width: 100vw;

      .header__menu {
        padding: 20px 0 0;
      }
    }
  }
}

.header__logo {
  display: none;

  @include lg-down {
    display: block;
    margin-top: 25px;
    margin-left: 21px;
  }

  @include md-down {
    margin-left: 17px;
  }
}

.header__toggle {
  display: none;

  @include lg-down {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    transform: rotate(0deg);
    background-color: $color-accent-primary;
    border: none;
    outline: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1;

    &--open {
      position: fixed;
      top: 0;
      right: 0;
      background-color: transparent;
    }

    &--nojs {
      display: none;
    }
  }
}

.header__toggle--close span,
.header__toggle--open span {
  display: none;

  @include lg-down {
    position: absolute;
    display: block;
    left: 50%;
    width: 22.5px;
    height: 1px;
    background: $color-primary;
    border-radius: 2px;
    transform: translateX(-50%) rotate(0deg);
    transition: 0.25s ease-in-out;
  }
}

.header__toggle--close span:nth-child(1) {
  top: 19px;
}

.header__toggle--close span:nth-child(2) {
  top: 25px;
}

.header__toggle--close span:nth-child(3) {
  top: 31px;
}

.header__toggle--open span:nth-child(1) {
  width: 25px;
  top: 25px;
  transform: translateX(-50%) rotate(135deg);
}

.header__toggle--open span:nth-child(2) {
  opacity: 0;
  top: 25px;
}

.header__toggle--open span:nth-child(3) {
  width: 25px;
  top: 25px;
  transform: translateX(-50%) rotate(-135deg);
}

.header__item {
  @include lg-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 25px 17px 15px;
    margin-bottom: 30px;
    background-color: #f6f6f6;
    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 10px;
  border-bottom: 1px solid rgba($color-tertiary, 0.2);
}

.header__link {
  font-weight: 300;
  color: rgba($color-tertiary, 0.7);
  letter-spacing: -0.005em;
  line-height: 32px;

  @include lg-down {
    font-size: 20px;
    color: #48494d;
  }
}

.header__arrow {
  display: none;
  border: solid rgba(44, 46, 63, 0.5);
  border-width: 0 2px 2px 0;
  padding: 4px;
  transform: rotate(-45deg);

  @include lg-down {
    display: inline-block;
  }
}
