.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 10px;
  border-bottom: 1px solid rgba($color-tertiary, 0.2);
}

.header__link {
  font-weight: 300;
  color: rgba($color-tertiary, 0.7);
  letter-spacing: -0.005em;
  line-height: 32px;
}
