.hero {
  padding-top: 320px;
  padding-bottom: 240px;
  color: $color-tertiary;
  background-color: $color-additional;
  background-image: url("../../img/hero/background-image-desktop@1x.jpg");
  background-position: top center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/hero/background-image-desktop@2x.jpg");
  }

  @include lg-down {
    padding-top: 135px;
    padding-bottom: 205px;
    margin-bottom: 413px;
    background-image: url("../../img/hero/background-image-tablet@1x.jpg");
  }

  @include md-down {
    padding-top: 120px;
    background-image: url("../../img/hero/background-image-mobile@1x.jpg");
  }
}

.hero__wrapper {
  display: flex;
  max-width: 880px;
  justify-content: space-between;

  @include lg-down {
    flex-direction: column;
  }
}

.hero__intro {
  max-width: 395px;
  margin-right: 158px;

  @include lg-down {
    max-width: initial;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  @include md-down {
    margin-bottom: 62px;
  }
}

.hero__logo {
  display: block;
  margin-bottom: 30px;

  @include lg-down {
    display: none;
  }
}

.hero__title {
  margin-bottom: 24px;

  @include lg-down {
    margin-bottom: 20px;
  }
}

.hero__description {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba($color-tertiary, 0.8);
  mix-blend-mode: normal;

  @include lg-down {
    max-width: 435px;
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 32px;
  }
}

.hero__form {
  display: flex;
  flex-direction: column;

  @include lg-down {
    max-width: 321px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -548px;
  }

  @include md-down {
    margin-bottom: -566px;
  }
}

.hero__form-title {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;

  @include lg-down {
    margin-bottom: 30px;
    color: $color-secondary;
    font-size: 18px;
  }

  @include md-down {
    margin-bottom: 17px;
  }
}

.hero__input {
  margin-bottom: 20px;
}

.hero__button {
  padding: 15px 0 15px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $color-secondary;
  background-color: $color-accent-primary;
  border-radius: 6px;
  outline: none;
  border: none;
}
