.hero {
  padding-top: 320px;
  padding-bottom: 238px;
  color: $color-tertiary;
  background-color: $color-additional;
  background-image: url("../../img/hero/background-image-desktop@1x.jpg");
  background-position: top center;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/hero/background-image-desktop@2x.jpg");
  }

  @include lg-down {
    position: relative;
    padding-top: 135px;
    padding-bottom: 205px;
    margin-bottom: 413px;
    background-image: url("../../img/hero/background-image-tablet@1x.jpg");
  }

  @include md-down {
    padding-top: 120px;
    padding-bottom: 203px;
    background-image: url("../../img/hero/background-image-mobile@1x.jpg");
  }
}

.hero__wrapper {
  display: flex;
  max-width: 880px;
  justify-content: space-between;

  @include lg-down {
    flex-direction: column;
  }
}

.hero__intro {
  max-width: 395px;
  margin-right: 158px;

  @include lg-down {
    max-width: initial;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  @include md-down {
    margin-bottom: 57px;
  }

  h1 {
    margin-bottom: 24px;
    font-size: 46px;
    line-height: 64px;
    letter-spacing: -0.005em;
    font-weight: 700;
    color: $color-tertiary;

    @include lg-down {
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: rgba($color-tertiary, 0.8);
    mix-blend-mode: normal;

    @include lg-down {
      max-width: 435px;
      margin-bottom: 80px;
      font-size: 18px;
      line-height: 32px;
    }
  }
}

.hero__logo {
  display: block;
  margin-bottom: 25px;
  cursor: pointer;

  @include lg-down {
    position: absolute;
    top: 25px;
    left: 21px;
  }

  @include md-down {
    left: 17px;
  }
}

.hero__form {
  display: flex;
  flex-direction: column;

  @include lg-down {
    max-width: 321px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -548px;
  }

  @include md-down {
    margin-bottom: -564px;
  }

  h2 {
    width: 100%;
    margin-bottom: 17px;
    margin-top: 3px;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.005em;
    color: $color-tertiary;

    @include lg-down {
      margin-bottom: 30px;
      color: $color-secondary;
      font-size: 18px;
    }

    @include md-down {
      margin-bottom: 20px;
    }
  }

  input {
    margin-bottom: 20px;
    padding: 14px 29px 10px;
    width: 100%;
    background: $color-tertiary;
    border: 1px solid #c9ccd4;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 15px;
    font-family: inherit;
    line-height: 24px;

    &:hover {
      outline-offset: -1px;
      outline: rgb(77, 144, 254) auto 5px;
    }

    @include lg-down {
      padding: 12px 20px 10px;
    }

    @include md-down {
      padding: 12px 25px 10px;
    }

    ::placeholder {
      color: rgba(#1c1c1c, 0.5);
    }
  }
}

.hero__button {
  padding: 15px 0 15px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  color: $color-secondary;
  background-color: $color-accent-primary;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #1eead7;
  }
}
