.intro {
  padding-top: 120px;
  margin-bottom: 98px;
  color: $color-tertiary;
  background-color: $color-additional;

  @include lg-down {
    padding-top: 65px;
  }

  @include md-down {
    padding-top: 80px;
    margin-bottom: 93px;
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: $color-tertiary;
    margin-bottom: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: -0.005em;

    @include lg-down {
      margin-bottom: 15px;
      font-size: 24px;
      line-height: 41px;
    }

    @include md-down {
      margin-bottom: 14px;
    }
  }

  p {
    font-weight: 300;
    line-height: 28px;
    max-width: 325px;
    margin-bottom: 56px;
    letter-spacing: -0.005em;
    color: rgba($color-tertiary, 0.7);

    @include lg-down {
      max-width: 429px;
      margin-bottom: 40px;
      text-align: center;
    }

    @include md-down {
      margin-bottom: 51px;
    }
  }
}

.intro__video-wrapper {
  position: relative;
  margin-bottom: -103px;

  @include lg-down {
    margin-bottom: -90px;
    max-width: 503px;
  }

  @include md-down {
    margin-bottom: -54px;
  }
}

.intro__video {
  object-fit: contain;
}

.intro__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;

  @include lg-down {
    svg {
      width: 90px;
      height: 90px;
    }
  }

  @include md-down {
    svg {
      width: 65px;
      height: 65px;
    }
  }
}
