.types {
  position: relative;
  padding-top: 150px;
  padding-bottom: 148px;
  background-color: $color-quaternary;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 0;
    width: 50%;
    height: 100%;
    background-color: $color-quaternary;
  }

  &::before {
    left: -50%;
  }

  &::after {
    right: -50%;
    z-index: -1;
  }

  @include lg-down {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @include md-down {
    padding-bottom: 52px;
  }

  h2 {
    margin-bottom: 60px;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.005em;
    color: $color-primary;

    @include lg-down {
      margin-bottom: 29px;
      font-size: 24px;
      line-height: 41px;
    }

    @include md-down {
      margin-bottom: 30px;
    }
  }
}

.types__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 50px;
  padding-left: 20px;
  padding-right: 20px;

  @include lg-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include md-down {
    padding-left: 0;
    padding-right: 0;
  }
}

.types__item {
  @include lg-down {
    flex-basis: 270px;
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include md-down {
    margin-bottom: 43px;
  }

  span {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: -0.5px;
  }

  &:nth-child(3n - 7) {
    .types__image {
      position: relative;
      z-index: 1;
      object-fit: contain;
    }
  }

  &:nth-child(3n + 2) {
    margin-top: 30px;

    @include lg-down {
      margin-top: 0;
    }
  }

  &:nth-child(3n) {
    margin-top: -10px;

    @include lg-down {
      margin-top: 0;
    }
  }
}

.types__item:nth-child(3n - 7) .types__image-wrapper {
  &::before {
    top: 156px;
    left: -60px;
    width: 180px;
    height: 180px;
    border: 27px solid $color-accent-primary;
    border-radius: 50%;

    @include lg-down {
      width: 127px;
      height: 127px;
      top: initial;
      left: -37px;
      bottom: -23px;
      border: 18px solid $color-accent-primary;
    }

    @include md-down {
      left: -25px;
      bottom: -24px;
    }
  }
}

.types__item:nth-child(3n + 2) .types__image-wrapper {
  &::before,
  &::after {
    width: 47px;
    height: 47px;
    border: 8px solid $color-accent-primary;
    z-index: 1;

    @include lg-down {
      display: none;
    }
  }

  &::before {
    top: -18px;
    left: -19px;
  }

  &::after {
    bottom: -17px;
    right: -23px;
  }
}

.types__item:nth-child(3n) .types__image-wrapper {
  &::before {
    width: 95px;
    height: 95px;
    top: -32px;
    right: -36px;
    border-radius: 50%;
    border: 17px solid $color-accent-primary;

    @include lg-down {
      top: -20px;
      right: -25px;
      width: 68px;
      height: 68px;
      border: 13px solid $color-accent-primary;
    }

    @include md-down {
      top: -21px;
      right: -14px;
    }
  }
}

.types__image-wrapper {
  position: relative;
  margin-bottom: 15px;

  &::before,
  &::after {
    position: absolute;
    content: "";
  }
}
