// Media queries
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$breakpoint-lg-down: 1024px;
$breakpoint-md-down: 768px;
$breakpoint-sm-down: 320px;

// Color
$color-primary: #1f1f1f;
$color-secondary: #000000;
$color-tertiary: #ffffff;
$color-quaternary: #f6f7f9;

$color-accent-primary: #0ad9c6;

$color-additional: #131314;
